html, body{
    height: 100%;
    margin: 0;
}
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*height: 100px;*/
    background-color: #b97a57;
}
p.header-join{
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
}
.header-container {
    margin: 2rem 10%;
}
.header-left{
    font-size: 1.5rem;
    color: blue;
    float: left;
    font-family: "Monotype Corsiva", serif;
}
.header-right{
    font-size: 1rem;
    float: right;
    font-family: Tahoma, fantasy;
}
a{
    text-decoration: none;
}
.container{
    height: 100%;
    background-image: url("../image/1.jpeg");
    background-color: #cccccc;
}
.content{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.content u{
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 3px #b97a57, 0 0 5px #000;
    font-family: "AGA Arabesque", serif;
}
.search {
    margin-top: 1rem;
    height: 50px;
    position: relative;
    text-align: center;
}
.search input{
    height: 50px;
    top: 50%;
    border-radius: 8px;
    border: 2px solid #b97a57;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.form-input{
    width: 30%;
}
.form-input[type=text]:focus{
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(88, 10, 10, 0.24), 0 17px 50px 0 rgba(153, 41, 41, 0.19);
}
.btn-submit{
    width: 10%;
    background-color: #b97a57;
    font-size: 16px;
    color: white;
    transition-duration: 0.4s;
}
.btn-submit:hover{
    background-color: #603a25;
    border: 2px solid #603a25;
}